dash==2.8.1
dash_bootstrap_components==0.13.0
dash_html_components==2.0.0
dash_core_components==2.0.0
plotly==5.13.0
pandas==1.5.3
numpy==1.24.2
matplotlib==3.5.1
seaborn==0.11.2
networkx==2.6.3
colour==0.1.5
holoviews==1.15.4
bokeh==2.4.3
nltk==3.8.1
wordcloud==1.8.2.2

